body{
    background: linear-gradient(rgb(202, 88, 43) 20%, rgb(255, 255, 172) 60%, rgb(202, 88, 43));
    height: 100vh;
    text-align: center;
}
#contenido {
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 100vh;
}
#cajon_del_cajon{
    background-color: rgba(245, 245, 220, 0.548);
    border-radius: 25px;
    padding: 50px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 900;
}
button{
    box-shadow: 5px -5px 10px 7px rgb(146, 73, 25);
}
#pan_del_dia hr{
    border-top: rgb(187, 34, 34) solid 2px;
    width: 50%;
}
#pinzas{
    width: 50px;
}